
h3 {
    margin-top:5px;
}

.fill{
    min-height: 90%;
    max-height: 90%;
}

.recnt-text {
    font-size: 18px;
}

.share {
    width: 100%;
    float: right;
}

.recnt_box {
    width: 100%;
    height: auto;
}

.share_input {
    width: 85%;
}

#dashboard_row {
    margin: 0px 5px 0px 5px;
}

.scroll_activity {
    overflow-y: auto;
}

#map_listings{
    max-height: 350px;
    overflow: auto;
}

.deals_wrapper {
    position:relative;
    float:left;
    clear:none;
    overflow:hidden;
}

.deals_wrapper_image {
    position:relative;
    z-index:1;
}

.deals_wrapper_overlay {
    background-color: #f5f5f5;
    opacity: 0.75;
    filter: alpha(opacity=75);
    display:block;
    position:absolute;
    width:100%;
    max-height: 65px;
    min-height: 65px;
    bottom: 0;
    left:0;
    z-index:2;
    text-align:center;
}

.deals_wrapper_text {
    display:block;
    position:absolute;
    width:100%;
    max-height: 65px;
    min-height: 65px;
    bottom: 0;
    left:0;
    z-index:3;
    text-align:center;
}
.deals_title {
    font-family: 'LatoRegular';
    font-size: 18px;
    text-align: left;
    color: #698933;
    margin: 3px;
    padding: 0px;
    line-height: normal;
}
.deals_ends {
    font-family: 'LatoRegular';
    font-size:14px;
    text-align:left;
    color:#666666;
    line-height:26px;
    padding: 0px;
    margin-top: 0px;
}

    #recent_activity {
        height: 48em;
        max-height: 48em;
    }

    #recentList {
        height: 100%;
        overflow-y: auto;
    }

    #map_area{
        height: 23.2em;
    }

    #previewMap {
        min-height: 20.5em;
    }

    .user_icon_dash {
        width: 56px;
        height: 56px;
    }

@media only screen and (max-device-width: 480px) {
    .user_icon_dash {
        width: 30px;
        height: 30px;
    }

    .recnt-text {
        font-size: 12px;
    }

    .share_input {
        width: 80%;
    }
}
    
    
@media screen and (min-height: 901px) and (max-height: 1699px) {

    #recent_activity {
        height: 60em;
        max-height: 60em;
    }

    #recentList {
        height: 100%;
        overflow-y: auto;
    }

    #map_area{
        height: 35.25em;
    }

    #previewMap {
        min-height: 32em;
    }

    .share_input {
        width: 92%;
    }

}

@media screen and (min-height: 1700px) {

    #recent_activity {
        height: 112em;
        max-height: 112em;
    }

    #recentList {
        height: 100%;
        overflow-y: auto;
    }

    #map_area{
        height: 87.25em;
    }

    #previewMap {
        min-height: 84em;
    }

    .share_input {
        width: 92%;
    }

}


