@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

body
{
    background:#050708;
    font-family:'Lato';
    height:100%;
    padding-top: 51px;
}

.contentbg
{
    overflow: auto;
    background-color: #fff;
}

.contentbg .container:first-child
{

}

.btn, .form-control, input, .well, .alert, .form-group, .event-content
{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}


.footer
{
    width:100%;
    height: 50px;
}

.footer .container
{
    height: 20px;
    padding-top:15px;
}

.footer p
{
    margin-bottom: 0;
}


dd {
    padding-left: 20px;
}

.shadow
{
    /*
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    */
    -webkit-box-shadow: 1px 1px 5px 2px #C4C4C4;
    -moz-box-shadow: 1px 1px 5px 2px #C4C4C4;
    box-shadow: 1px 1px 5px 2px #C4C4C4;
}

.shadow-light {
    -webkit-box-shadow: 0px 0px 4px 0px #C4C4C4;
    -moz-box-shadow: 0px 0px 4px 0px #C4C4C4;
    box-shadow: 0px 0px 4px 0px #C4C4C4;
}

.dealBG {
    background: #f5f5f5;
}

.txt-danger
{
    color:red;
}

a#searchlink {
    color: #7C9F03;
}

#searchFilters div {
    padding-left: 20px;
}

/* Main marketing message and sign up button */
.jumbotron {
    width:100%;
    height:450px;
    background:url('/public/images/banner_karate.png') top center no-repeat;
    text-align: center;
    background-color: transparent;
    -moz-border-radius:0px !important;
    -webkit-border-radius:0px !important;
    border-radius:0px !important;
}

.jumbotron .btn {
    padding: 14px 24px;
    /*font-size: 21px;*/
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
    background-color: #eee;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
}
.nav-justified > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-weight: bold;
    color: #777;
    text-align: center;
    background-color: #e5e5e5; /* Old browsers */
    background-image:    -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Chrome 10+,Safari 5.1+ */
    background-image:      -o-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x; /* Repeat the gradient */
    border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
    background-color: #ddd;
    background-image: none;
    box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
    /* border-radius: 5px 5px 0 0; */
}
.nav-justified > li:last-child > a {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
}

.navbar-brand img {
    height: 37px;
    padding-top: 4px;
}

@media (min-width: 768px) {
    .nav-justified {
        max-height: 52px;
    }
    .nav-justified > li > a {
        border-right: 1px solid #d5d5d5;
        border-left: 1px solid #fff;
    }
    .nav-justified > li:first-child > a {
        border-left: 0;
        border-radius: 5px 0 0 5px;
    }
    .nav-justified > li:last-child > a {
        border-right: 0;
        border-radius: 0 5px 5px 0;
    }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {

    margin-bottom:0;

    border:none;
}

.navbar-header
{
    float:left;
}

.xs-addon .input-group
{
    margin-top:15px;
}

.navSmBtns .btn
{
    height:50px;
    border:none;
    border-radius:0;
}

.smSearch, .smAccountInfo
{


    width:100%;
    float:none;

}

.smAccountInfo
{
    text-align:right;
}
.navHovered
{
    background: #EBEBEB;
}



.locRow
{
    background: #EBEBEB;
    padding:5px 5px 0 5px;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;

    border-bottom:1px solid #F5F5F5;
}

.locRow .location
{
    margin-top:5px;
    margin-bottom:5px;
}

.locRow button
{
    margin-bottom:5px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead,
    .marketing {
        padding-right: 0;
        padding-left: 0;
    }
}


/*----------- default anchor tag styles ----*/
/*a:link
{
    color:#7c9f03;
}

a:visited
{
    color:#7c9f03;
}

a:hover
{
    color:#7c9f03;
}

a:active
{
    color:#7c9f03;
}
*/
.row#searchListings {
    padding-bottom: 5px;
}

a.btnxs
{
    color:#0d54d7 !important;
}

.xs-btns
{
    margin-top:10px;
}

/*----------- Custom Styles -------- */

/*
button, .btn, .form-control, .input-group-addon
{
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
}


.input-group-addon
{
    -moz-border-radius:0px !important;
    -webkit-border-radius:0px !important;
    border-radius:0px !important;
}
*/

.combobox-container
{
    float:left;
}

.input-group
{
    float:left;
}

.input-group-addon
{
    font-size:17px;
    border-right: 0px;
    /*
    padding: 6px 12px 6px 3px;
    */
}


#totalNav .nav>li>a
{
    padding: 4px 10px;
}

.nav>li>a
{
    padding: 4px 10px;
}


.headerLogo
{
    margin-top:10px;
    text-align:center;
}


.navbar .container
{
    padding-top:0px !important;
}

.main-content
{

    padding-top:15px;
    z-index:100;
    /* margin-bottom:20px; */
}



.page-content
{
    padding-top:20px;
    margin-top:0px;
    margin-bottom:40px;
}

.page-content .formbtn
{
    margin-left:15px;
}

.btn-facebook
{
    background:#4161a1;
}


.login-options
{
    font-size:0.8em;
    font-weight:600;
    text-align:left;
}

.login-options a
{
    font-weight:bold;
    color:black;
}

.footer-container
{
    padding-top:0px;
}

.main-container
{
    width:100%;
    padding-left:0;
    margin-left:0;
    padding-right:0;
    margin-right:0;

    /*padding-top: 10px;*/
}

#loginAlert
{
    /* width:100%; */
}

.modal .alert
{
    width:100%;
    padding:5px;
    margin-top:5px;
    margin-bottom:10px;
}

.btn-red
{
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    background:#7c9f03;
    font-weight:bold;
}

.info-content .row {
    margin-left: 0px;
}

.modal-title
{
    font-weight:700;
}

.video-title
{
    font-size:1.4em
}

.modal .modal-body div
{
    /* width:100%; */
}
.modal-content
{
    border-radius:0px;
}

#loginModal .modal-content, #loginModal .modal-dialog
{
    width:450px;
    max-width: 100%;
}

.dashboardImg .close
{
    text-align: right;
    width: 100%;
    color: red;
}

.dashboardImg {
    display: inline-block;
    padding: 3px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid black;
    margin: 10px;
}

#imageAdd,
#submitPost {
    font-size: 18px;
}

.modal-header
{
    padding:5px 15px;
    border-bottom:none;
}

.modal-body
{
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;
}

.modal-footer
{
    padding:5px 15px;
    padding-bottom:15px;
    border-top:none;
    margin-top:0px;
}

.alert
{
    text-transform:uppercase;
}

.dropdown-menu
{
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
}

.square
{
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    background-color: #FFFFFF;
    border-color: #F1F1F1;
}

#dealsSide .row {
    margin-bottom: 10px;
}

#dealsSide .title {
    font-family: "LatoRegular";
    color: #698933;
    font-size: 24px;
    padding-bottom: 10px;
    line-height: 20px;
}

#dealsSide .subtitle {
    color: #7C9F03;
}

.deal_rotate_img {
    max-width: 750px;
    max-height: 480px;
    min-height: 480px;
    overflow: hidden;
}

#dealsSide .subtitle span {
    font-family: "LatoRegular";
    font-size: 20px;
    text-decoration: underline;
}

#dealsSide .desc {
    font-family: "LatoLight";
    font-size: 16px;
    line-height: 18px;
    color: #4D4D4D;
    width: 350px;
}

#totalNav .navbar-brand
{
    padding-top: 7px;
}

.main-nav
{
    width:100%;
}

.main-nav form
{
    margin-left:auto;
    margin-right:auto;
}

.main-nav > a {
    font-family: "LatoHairline";
    font-size: 20px;
    text-align: left;
    color: #7C9F03;
    margin-left: 20px;
    font-weight: bold;
    display: inline-block;
    padding-top: 10px;
}

img.resize
{
    width:100%;
    height:auto;
}

.fa-heading-icon
{
    padding-top: 20px;
    display:block;
    width:100px;
    height:100px;
    font-size:60px;
    text-align:center;
    color:white;
    border-radius:50%;
    background:#D5D5D5;
    margin-left:auto;
    margin-right:auto;
}

.homepage-body
{
    text-align:center;
}

.locationTxt
{
    width:300px !important;
}


.location-group input:first-child
{
    min-width:180px;
    margin-right:20px;
}

.location-group .location {
    width: 250px;
}

.location-group
{
    display:inline-table;
    /*min-width:400px;*/
}

.content
{
    padding-left:15px;
    padding-right:15px;
}

.deal-texts {
    padding: 10px;
}

.search-results
{
    border:1px solid #ececec;
}

#previewMap
{
    min-height: 450px;
}

#searchFilters {
    padding: 10px;
}

#map_no_padding {
    padding: 0px;
}

#mapListings,
#searchMap,
#searchContainer {
    padding: 0px;
}

@media all and (max-width: 768px)
{
    #searchMap
    {
        height: 300px;
    }
}

@media all and (max-width: 590px)
{
    #filtersRight
    {
        margin-top: 10px;
    }
}

#mapListings {
    overflow: auto;
}

.map_addr .addr_title a {
    color: #698933;
}

.listing
{
    float:none;
    display:block;
    padding:10px;

    /* min-height: 100px; */

    border-bottom:1px solid #ececec;
}

.search-results .listing:last-child
{
    /* border-bottom:none; */
}

.listing:hover
{
    background:#fcf8cb;
    /* cursor:pointer; */
}

.listImg:hover{ cursor:pointer; }

.listImg
{
    display:block;
    /* background:#b7b7b7; */

    color:white;
    text-align:center;

    width:100px;
    height:100px;
    float:left;
    margin-right:10px;
}

.listImg img
{
    display:inline;
    max-width:100px;
    clear:both;
}

.noImg
{
    background:#b7b7b7;
    font-weight:bold;
    font-size:1.7em;
    padding-top:15px;
}

.listContent
{
    /*
    height:100px;
    min-height:100px;

display:inline-table;
padding-left:15px;
    */

    display:block;
}

.listContent:hover
{
    cursor:pointer;
}

.listContent p.location span
{
    color:#777;
    font-weight:bold;
}

.listContent p.locAddress
{
    color:#999da0;
    margin:0;
}

h1
{
    margin-top:5px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: lato;
    font-weight: normal;
    color: #7C9F03;
}

.listContent h3
{
    padding:0;
    margin:0;
    line-height:16px;
    font-size:16px;
}

.listRight
{
    display:inline-table;
    text-align:right;
    clear:both;
    font-size:0.9em;
}

#menuContainer .input-group[class*="col-"] {
    float: left;
    padding: 4px;
}

#menuContainer *[class*="col-"] {
    padding-left: 0px;
}

#menuContainer span {
    font-size: 12px;
    border-right: 1px solid #CCC;
}

#profile-main-div .row {
    margin-left: 0px;
}

.listRight span.reviewsTxt
{
    color:#7C9F03	;
}

.addFavStar
{
    color:#f8ec1e;
}

.pinPointMarker
{
    color:#f7a422;
}

.listRating i
{
    /* color:black; */
}

.listRating i.gray
{
    color:#d7d7d7;
}

.largeStars
{
    font-size:22px;
}

h1.profileName
{
    color: #698933;
    position: relative;
    font-size:32px;
}

.mapReview
{
    margin-bottom:10px;
    padding-left: 0;
    padding-right: 0;
}

.profileDescription
{
    /* min-height:200px; */

    border-bottom:1px dashed #d7d7d7;
}


p.profileAddress
{
    margin-top:15px;
    margin-bottom:10px;
    padding-bottom:5px;
    border-bottom:1px solid #777;
}

p.profileAddress span
{
    color:#888;
}

p.profileContactData i
{
    color:#888;

    margin-right:15px;
}

h4.reviews
{
}

button.inverse, a.inverse
{
    background:#000;
    color:white;
    border-color:#888;
}

button i
{
    /*margin-right:5px;*/
}

button.inverse:hover, a.inverse:hover, button.inverse:disabled
{
    border-color:#888;
    background:#c9c9c9;
}

.reviewStars
{
    font-size:22px;
}

form.reviewForm
{
    padding-bottom:10px;
    margin-bottom:15px;
    border-bottom:1px dashed #d7d7d7;
}

.comment-well
{

    -moz-border-radius:0px !important;
    -webkit-border-radius:0px !important;
    border-radius:0px !important;

    padding:5px;
}

.comment-well img
{
    margin-right:10px;
    float:left;
}

.comment-author
{
    font-size:1.2em;
    color:#0d54d7;
}

.carousel-wrapper
{
    width:100%;
    min-height:180px;
    box-shadow: 2px 2px 8px #888;
    margin-bottom:20px;
}

#reviewStars i:hover, #reviewStars:hover
{
    cursor:pointer;
    /* color:#0d54d7; */
}

.setRating
{
    color:#EBC500;
}

.loginBtn
{
    width:100%;
}

.tab-content
{
    margin-top:50px;
    margin-bottom:15px;
}

.videoContainer .input-group
{
    margin-bottom:15px;
}

.videoThumbnailContainer
{
    margin-bottom: 15px;
}

.videoThumbnailContainer .videoThumbnail
{
    display:inline-block;
}

.videoThumbnailContainer .videoThumbnail:hover
{
    cursor: pointer;
}

.youtubeIframe
{
    width:100%;
    height:350px;
}

#imageUploadContainer .row
{
    margin-bottom:15px;
}

.listing-cal-btn
{
    border:none;
    margin-right:-3px;
    margin-top:-21px;
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-bottom-right-radius:0;
    background:#0d54d7;
    color:white;
}

.listing-edit-btn
{
    border-radius: 0;
    background:#7C9F03;
    font-weight:bold;
    margin-top:-21px;
    margin-right:-11px;
    border:none;
    color:white;

}

.listing-edit-btn:hover {
	background-color:#acc519;
	color:white;
}



.input-group .form-control:first-child
{
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.input-group-addon:not(:first-child):not(:last-child)
{
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.location-group .form-control
{
    border-radius:0px;
}

.col-welcome
{
    margin: 0 15px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 22%;
    background: white;
}

.panel-default
{
    padding: 12px;
}

.jumbotron .btn {
    background-color: #3c5daa;
    border-color: #205786;

}

.jumbotron .btn:hover {
    background-color: #3276b1;
}

.jumbotron p {
    text-transform: none;
    color: #808080;
    font-size: 28px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 25px;
}

.welcome-landing{
    background-color: rgba(255, 255, 255, 0.61);
    /*padding-top: 20px;*/

    padding-top: 25px;
    padding-bottom: 15px;
}

p.register-login  {
    font-size: 28px;
    text-transform: uppercase;
    color: #575757;
    font-weight: 400;
}

h1.welcome-preview {
    color:#727272;
    font-weight: 300;
    text-transform: none;
    margin: 16px 0px 39px 0px
}

.container-withbg{
    background: url(/public/images/btm_background.png) top center;
}

.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.57);
    border: 0;
    border-radius: 0px;
    /*
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    */
}

/*.col-md-8, .col-md-7, .col-bg*/
.col-bg
{
    padding:15px;
    overflow:auto;

    background-color: #F5F5F6;
    /*
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding-top: 8px;
    padding-bottom:15px;
    */
}

.well
{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #E3E3E3;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.display-img
{

    display: block;
    float:left;
    height: 135px;
    width: 150px;
    margin-right: 10px;
    margin-left: 15px;

}

.review-row
{
    padding-bottom: 0px;
}

.info-header
{
    margin-bottom: -45px;
    z-index: 1;
    background: none;
    box-shadow: none;
}



.locatorNoCursor
{
    cursor:default;
}

.locatorNoCursor i
{
    color:gray;
}


.dojologo img
{
    max-width: 100%;
}

.headingAlerts .alert
{
    margin-bottom: 0px;
}

.imgContainer
{
    margin-top:15px;
    margin-bottom:15px;

}

#imgSortable
{
    margin:0;
    padding:0;
    display:block;
}

#imgSortable li
{
    list-style-type:none;
    background:none;
    border:none;
    display:inline-block;
    margin-right:5px;
    /* height:100px; */

}

#imgSortable li img
{
    display:inline;
    float:left;
    width:235px;
    height:235px;
    clear:both;
}

#imgSortable li:hover
{
    cursor:pointer;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.pic-del-btn
{
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-bottom-right-radius:0;
    background:#0d54d7;
    font-weight:bold;
    margin-top:-100px;
    margin-right:px;
    border:none;
    color:white;
    padding-right:1px;
    z-index:1000;
    float:right;
    display:inline;
    clear:both;
}

#uploadImgBtn
{
    margin-top:15px;
}

#facebookImgBtn
{
    margin-top:25px;
    float:none;
    display:block;
}


#loadingPanel
{
    width:90%;
    margin: 10px auto 0 auto;
    text-align:center;

}

#loadingPanel .well
{
    margin-bottom:5px;
    border:2px solid #c9c9c9;
}

#loadingPanel h3
{
    margin-top:5px;
}


#loadingPanel i
{
    font-size:40px;
}

.deactiveBtn i
{
    padding-right:1px;
    margin-right:1px;
}


/*
#mapWell
{
        padding:10px;
}
*/

#mapWell .well
{
    padding:10px;
}

.dojoinfoicon {
    font-size: 16px;
    margin-right: 5px;
}

.dojoinfotabs {
    font-size: 16px;
    float: right;
}

@media all and (max-width: 450px)
{
    /*
    .listImg, .listImg img
    {
            width:45px !important;
            height:45px !important;
    }






    #totalNav .nav > li > a
    {
            padding-right:2px;
            padding-left:2px;
    }


    .dojoinfotabs li a, .dojoinfotabs li a i
    {
            font-size:9px !important;
    }

    .dojoinfotabs li a i
    {
            margin-right:2px;
    }
    */
}

@media all and (max-width: 990px)
{
    .col-xs-8, .col-sm-8, .col-md-8
    {
        margin-bottom:15px;
    }
}


@media all and (max-width: 2000px) {

}

@media all and (max-width: 1200px) {

    /*
ul.dojoinfotabs i
{
        font-size:11px;
}

ul.dojoinfotabs a
{
         font-size:13px;
         padding:5px 10px;
}

.jumbotron img
{
        max-width:100%;
}

.jumbotron h1
{
        font-size:28px;
}

.jumbotron p.lead
{
        font-size:20px;
}
    */
}


@media (min-width: 1200px) {
    .panel-default {
        height: 300px;
    }
}

.carousel-inner .item
{
    text-align:center;
}

.carousel-inner .item img
{
    display:inline;
}

#lightbox .modal-content
{
    text-align:center;
}

.col-buffer
{
    display:block;
    height:20px;
}

.btn-link {
    color: #727272;
}

.btn-link:hover, .btn-link:focus {
    color: #0d54d7;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: rgba(190, 190, 190, 1);
}
.nav-pills > li > a {
	color: #7C9F03;
}
.comment-author {
    color: #777777;
}
.panel h4 {
    color: #0d54d7;
}

.landing-logo {
    display: block;
    margin: 0 auto;
}

.toplogocontainer {
    background: url(/public/images/bckgnd_1.jpg) top center no-repeat;
    padding: 30px 0 30px 0;
}

.firstlandingcontainer {
    padding: 100px 0 75px 0;
    background: #FFFFFF;
}

.firstlandingcontainer h1{
    padding-top: 20px;
    border-top: 2px solid #194c9e;
    width: 100%;
    color: #494848;
    font-size: 3.5em;
    padding-bottom: 20px;
    margin-top: 50px;
    background: none;
}

.secondlandingcontainer {
    padding: 195px 0 195px 0;
    background: #FFFFFF;
}

.secondlandingcontainer h1{
    padding-top: 20px;
    border-top: 2px solid #194c9e;
    width: 100%;
    color: #494848;
    font-size: 3.5em;
    padding-bottom: 20px;
    margin-top: 50px;
    background: none;
}

.thirdlandingcontainer {
    background: url(/public/images/bckgnd_2.jpg) top center no-repeat;
    padding-top: 150px;
    padding-bottom: 100px;
}

.thirdlandingtitle{
    padding-top: 20px;
    border-top: 2px solid #194c9e;
    width: 95%;
    color: #FFF;
    font-size: 4em;
    padding-bottom: 20px;
    text-align: center;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.09);
}

.thirdlandingimg {
    margin-bottom: 50px;
}

.fifthlandingcontainer {
    background: url(/public/images/bckgnd_3.jpg) top center no-repeat;
    padding-top: 150px;
    padding-bottom: 100px;
}

.bluelandingbtn, .bluelandingbtn a {
    border-color:#194c9e;
    background: none;
    text-transform: none;
    color: #194c9e !important;
}

.bluelandingbtn:hover {
    border-color: #4C7DC5;
    background: rgba(106, 158, 236, 0.48);
    text-transform: none;
    color: #194c9e;
}

.bluelandingnobgbtn {
    border-color:#194c9e !important;
    background: none;
    text-transform: none;
    color: #194c9e;
}
.bluelandingnobgbtn a {
    color: #194c9e !important;
    border-color:#194c9e !important;
}
.bluelandingnobgbtn:hover {
    border-color: #4C7DC5;
    background: rgba(106, 158, 236, 0.48);
    text-transform: none;
    color: #194c9e;
}

.btn-default a:hover {
    text-decoration: none;
    text-transform: lowercase;
}
.btn-default a {
    text-transform: lowercase;
    color:	black;
}

.sixthlandingcontainer {
    padding-top: 250px;
    background: #FFF;
    padding-bottom: 50px;
}

.sixthlandingcontainer h1{
    padding-top: 20px;
    border-top: 2px solid #194c9e;
    width: 100%;
    color: #494848;
    font-size: 3.5em;
    padding-bottom: 20px;
}

.sixthlandingcontainer .row{
    margin-bottom: 200px;
}

.fourthlandingcontainer h1{
    padding-top: 20px;
    border-top: 2px solid #194c9e;
    width: 100%;
    color: #494848;
    font-size: 3.5em;
    padding-bottom: 20px;
    margin-top: 100px;
}

.findme {
    text-transform: none;
    /*margin-left: 7px;*/
    font-size: 14px;
    text-decoration: none !important;
}

span.findme
{
    display: none;
    visibility: hidden;
}

.googlelogo {
    margin-top: 18px;
}

.searchInputGroup
{
    margin-right:15px;
}

.searchInputGroup .dropdown-menu
{
    width:200px;
    margin-top:-1px;
    margin-left:-200px;
}

/* hack for firefox only */
@-moz-document url-prefix() {
    .searchInputGroup .dropdown-menu
    {
        width:200px;
        margin-top:-2px;
        margin-left:0px;
    }
}


#fixedTopNav .input-group > .form-control
{
    width:200px;
}

.searchInputGroup .input-group-btn
{
    width:auto !important;
}
.resultstext {
    text-transform: none;
    color: #B9B9B9;
}

.resultstitle {
    color: rgb(53, 53, 53);
    display: inline;
}

/*Small Landing Page Start*/

.maincontainer
{
    /*
    background: url(/public/images/mainbacgroundimg) top right no-repeat;
    height: 642px;
    background-size: 100%;
    margin-top: -10px;
    */

    height:auto;
    background:none;

    padding-left:0;
    padding-right:0;

    overflow-y: hidden;
    overflow-x: hidden;
}

.maincontainer #bgImg
{
    float:left;
    display:inline;
    position: fixed;

}

.mainlogo
{
    margin-top:0;
    width: 100%;
}

.landingtagline {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.88);
    font-weight: 300;
}

.landingbtn {
    color: white;
    background: none;
    border-color: white;
    padding: 17px 50px;
    margin:20px auto 0 auto;
    text-transform: uppercase;
    border-radius: 11px;
    border-width: 2px;
    position:relative;

}

.landingbtn:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.18);
    border-color: rgba(255, 255, 255, 0.8);
}


.landinghr {
    margin-top: 280px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #000;
    position:relative;

}



/*Small Landing Page End*/


/*---- START getting started modal ----*/

#getStartedModal h1, #getStartedModal h2, #getStartedModal h3
{
    font-weight:300;
    color:white;
}

#getStartedModal .modal-content
{
    opacity:0.9;
    border:none;
    box-shadow: none;
    background:none;
}

#getStartedModal .modal-body
{
    color:white;
}


#getStartedModal .bluespa-modal
{
    text-align: center;
}

#getStartedModal .locator
{
    font-size:3em;
    text-align:center;
    color:white;
    width:100%;
}

#getStartedModal .locator i
{
    opacity:0.75;
    font-size:5.5em;
}

#getStartedModal .searchBtn
{
    margin:10px auto 0 auto;
    display: block;
}




/*---- END getting started modal ----*/

/* --- Start blog styles ---- */
.blogTitle
{
    background:white;
    margin-bottom:15px;
}

.blog-row
{
    background:#fff;
    border:1px solid #e4e4e4;
    margin-bottom:25px;
}

.blog-row .blog-featuredImg
{
    min-height:300px;
    margin:15px;

}

.blog-row h3
{
    color:#333;

    margin-bottom:20px;
}

.blog-row .article-content
{
    color:#777;
    z-index:1010;
    margin:-55px 35px 0px 35px;
    padding:15px;

    background-color: white; layer-background-color: white;
}

.blog-row .article-content:hover, .blog-row .blog-featuredImg:hover
{
    cursor:pointer;
}

.blog-row p.category
{
    text-transform: uppercase;
    font-size:0.9em;
    font-weight:bold;
}

.blog-content-container
{
    background:none;
    padding-top:0px;
}

.blog-header
{

}

.blog-header h1, .blogTitle h1
{
    color:#0d54d7;
}

.blog-panel
{
    background:white;
    padding:0;
    height:inherit;
}

.blog-panel .panel-heading
{
    background:#0d54d7;
    font-size:1.6em;
    text-transform: uppercase;
    color:white;
    text-align:center;
    font-weight:bold;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.blog-panel .panel-body
{
    min-height:50px;
    padding:8px;
}

h5.blog
{
    color:black;
}

.blog-view-container
{
    background-color: white;
}

.blog-view-container h1
{
    color:#000;
}

.blog-view-container .blogView
{
    /* border-bottom:1px solid #cb1010; */
    color:#cb1010;
}

.blog-view-container img
{
    margin-bottom:15px;
}

.hide-reviews
{
    border-top:1px dashed #c9c9c9;
}

.recent-blog h4
{
    font-size:1em;
}

.recent-blog p, .recent-blog span
{
    font-size:0.85em;
}

.recent-blog:hover
{
    background:#fcf8cb;
    cursor: pointer;
}

.table-category
{
    margin-bottom:0;
}

.table-category > tbody > tr:hover > td, .table-category > tbody > tr:hover > th
{
    background:#fcf8cb;
    cursor: pointer;
}

.table-category > tbody > tr:first-child > td
{
    border:none;
}

.table-category > tbody > tr > td
{
    padding:4px;
}

.socialMediaTbl
{
    margin-top:30px;
}

.socialMediaTbl tr td
{
    overflow: hidden;
    width:110px;
    padding-right:15px;
}

.hide-reviews
{
    padding-top:10px;
}

/* --- End blog styles ---- */

.maincontainer
{

    height:auto;
    background:none;

    padding-left:0;
    padding-right:0;

}


.indexElements
{
    z-index:100;


    width:100%;

    margin:50px auto 0 auto;
}


.mainlogobg
{
    border: 1px solid rgba(255, 255, 255, 0.79);
    background-color: rgba(0, 0, 0, 0.36);
    margin:20px auto 0 auto;
    width:45%;
    height:300px;
    position:relative;
    padding:60px 50px;
}
.mainlogobg img
{
    position: relative;
}

@media all and (max-width: 1000px)
{

    .indexElements
    {

        margin-right:auto;
        margin-left:auto;
    }

    .mainlogobg
    {
        height:auto;
        width:90%;
    }

    .landingbtn
    {
        margin:20px auto 10px auto;
    }
}


@media all and (max-width: 450px)
{

    .indexElements
    {
        top:30px;
        margin-right:auto;
        margin-left:auto;
    }

    .mainlogobg
    {
        height:auto;
        width:90%;
        padding:20px 10px;
    }

    .landingbtn
    {
        padding:5px 10px;
        margin:20px auto 10px auto;
    }
}

/*---- Start calendar styles ----- */


/** -- deprecated styles --- */

/*
table.calendar
{
    margin-top:15px;
}

table.calendar thead tr th
{
    width:14.25%;
    text-align:center;
}

table.calendar tbody tr td div.day-container
{
    min-height:100px;
}

table.calendar tbody tr td .day-container .calDay
{
    font-weight:bold;
    font-size:12px;
    float:right;
}
*/


.calendar
{
    display:table;
    border-collapse:collapse;
    width:100%;
    z-index:100;

}

.calendar .row
{
    display:table-row;
    margin-left:0;
    margin-right:0;
    z-index:100;
}


.calendar .dayHeader
{
    font-size:1.2em;
    font-weight:bold;
    text-align:center;
    margin:0 0 0 -1px;
    float:left;
    padding:5px 0 ;
    width:14.25%;
    display:table-row;
    border:1px solid #DDD;
    background: #FFF;

}

.calendar .day-container
{
    display:table-cell;
    border:1px solid #DDD;
    min-height:110px;

    background:white;

    padding:5px;
    width:14.25%;
    float:left;

    margin:-1px 0 0 -1px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow:visible;

    z-index:100;
}

.calendar .today
{
    background:#fffdc8;
}

.calendar .calDay
{
    font-weight:bold;
    font-size:12px;
    float:right;
    margin-right:-6px;
    margin-top:-6px;
    border:1px solid #DDD;
}

.calendar .calDay
{
    color:#777;
    border-radius: 0;
    padding:1px 5px;
}

.calendar .calendarEvent
{
    position:relative;
    display:inline-block;
    text-align:left;
    border-radius: 0;
    z-index:999;
}

.calendar .unavail-day
{
    background:rgb(250,250,250);

}

#eventModalDetails
{
    font-size:0.9em;
    font-weight:300;
}

#eventModalDetails dt
{
    width:100px;
}

#eventModalDetails dd
{
    margin-left:100px;
    margin-bottom:10px;
}


.modal-header h3
{
    margin:0;
}

.cal-row
{
    margin-left:0;
    margin-right:0;
}

.eventMap
{
    width:100%;
    height:300px;
}

/*---- End calendar styles ----- */

/*---- Start styles for events ---*/

.timedash
{
    font-size:1.4em;
    font-weight:bolder;
    text-align: center;
    margin-bottom:-26px;
    padding-top:10px;
}

#createEventModal h5
{
    color: black;
    margin-top:15px;
    margin-bottom:5px;
}

#createEventModal .row:nth-child(8), #createEventModal .row:nth-child(9), #createEventModal .row:nth-child(10), #createEventModal .row:nth-child(11),#createEventModal .row:nth-child(12)
{
    margin-bottom:15px;
}

.eventInputMargin
{
    margin-bottom:15px;
}

.eventCheckboxes .checkbox
{
    display:inline-block;
}

.eventCheckboxes .checkbox:first-child
{
    margin-right:15px;
}


.repeatWeekSelect
{
    width:100px;
    display:inline-block;
    margin-right:15px;
}

.weekdayRepeatCheckbox
{
    display: inline-block;
    margin-right:10px;
}

.weekdayRepeatCheckbox:hover
{
    cursor: pointer;
}

.occurrencesTxt
{
    display:inline-block;
    width:130px;
    margin-left: 10px;
    margin-right: 10px;
}

#repeatCheck
{
    text-transform: uppercase;
}


.calendarEvent:hover
{
    cursor:pointer;
}

.eventContainer
{
    position:relative;
    display:inline-block;

    box-sizing: border-box;
    /*clear:both;*/
}

/*--- end of styles for events ---*/


/*---- Start styles for events on dojo info page ---*/

.devent-container i.fa-calendar-o
{
    font-size:3.5em;
    position: absolute;
    color:#D87900;
}

.devent-container .cal-icon-container
{
    /*border:1px dashed black;*/
    display:block;
    float:left;
    margin-right:20px;
    padding-bottom:0px;

}

.devent-container .cal-day-txt
{
    display:block;
    padding-top:8px;
    padding-left:6px;
    font-size:2.2em;
    /*color:#0d54d7;*/
    color:#333;
}

.devent-container .event-content
{
    border:1px solid #e7e7e7;
    background-color:#f8f8f8;
    padding:15px;
    margin-bottom:15px;
}

.devent-container .event-content:hover
{
    /*background-color: #f2f2f2;*/
}

.devent-container .event-content a
{
    font-weight:bolder;
    font-size: 1.3em;
}

.devent-container .event-desc
{
    color:#777;
}

.devent-container .event-time
{
    margin-top:10px;
    margin-bottom:10px;
    font-weight:bold;
    display:block;
    letter-spacing: 0;
}

.devent-container .event-time i
{
    font-size:1.2em;
}

.cal-nav li
{
    float:left;
}

.cal-nav li a
{
    font-size:1.4em;
    font-weight: bolder;
}

.timezone
{
    font-size:0.8em;
}

@media all and (max-width: 450px)
{
    .cal-nav li a
    {
        font-size:1em;
    }
}

/*---- End styles for events on dojo info page ---*/


/* ---- Start of styles for user pages --- */
.userNameHeader
{

}

.userTabContent
{
    background-color: #F6F6F6;



    border-radius: 0px;



    padding:1px 15px 15px 15px;


    margin-bottom:15px;
}

.stream-actions
{
    margin-top:15px;
}

.profile-img
{
    margin-bottom:15px;
    margin-left:auto;
    margin-right:auto;
}

.profile-panel
{
    padding:0;
    height:auto;

}

.profile-panel .panel-heading
{
    /* background-color:#0d54d7; */
    background-color:#2b3849;
    padding:7px 4px;
    color:white;
    text-align: center;
}



.profile-panel .panel-body
{
    padding:10px;
}

.profile-panel .panel-heading .panel-title
{
    letter-spacing: 0px;
    font-size:1em;
    font-weight:400;
    display:inline-block;
}

.profile-panel .panel-heading a
{
    color:white;
    display:inline-block;
    float:right;
    margin-top:3px;
    margin-right:2px;
}

.profile-blog-panel
{
    height:auto;
    padding:0;
    background-color: #F7F7F7;

}

.profile-blog-panel .panel-heading
{
    background-color:#2b3849;
    color:white;
    padding:10px 15px;
}

#activityFeedTab .profile-blog-panel .panel-heading
{
    padding:10px 5px;
}

.profile-blog-panel .panel-heading .panel-title
{
    display: inline-block;
}

.profile-blog-panel .panel-body
{
    padding:15px;
    background-color: #F7F7F7;
}

.profile-blog-panel .panel-footer
{
    border:none;
    background-color: white;
    padding:5px;
}

.profile-blog-panel .panel-footer .btn
{
    color:#606060;
    background-color: #EBEBEB;
    border:0;
    border-radius: 0;
}

.profile-blog-panel .panel-body .blog-actions
{
    color:#959292;
    font-weight:bold;
    margin-bottom:10px;
    text-transform: uppercase;
    padding:0 10px;
}


.profile-blog-panel .panel-body .excerpt-container
{
    padding:10px;
    background-color: #FFF;
    color:#959292;
}



.profile-blog-panel .panel-body .excerpt-container:hover
{
    cursor: pointer;
}

textarea.post
{
    border:none;
    resize:none;
}

.profile-blog-panel .postactions-container
{
    padding:0px;
    background-color: #FFF;
    color:#959292;
}

.profile-blog-panel .postactions-container .alert
{
    margin-bottom:0;
}

.profile-blog-panel .blog-comment
{
    text-transform: uppercase;
}

.share-btn
{
    padding:0;
    vertical-align: inherit;
    margin-right:5px;
}

.profile-blog-featuredImg
{
    min-height:250px;
    width:300px;

    max-width: 100%;

    display: inline-block;
    float:left;
    margin-right:10px;

}


.followers
{
    text-align: center;
    text-transform: uppercase;
}

.following
{
    margin-top:5px;
    margin-bottom: 15px;
    padding-top:5px;
    border-top:1px solid #959292;
    text-align: center;
    text-transform: uppercase;
}

.user-info-dl dt
{
    width:30%;
    margin-bottom:5px;
    text-transform: uppercase;
    color:#777;
}

.user-info-dl dd
{
    margin-left:30%;
    margin-bottom:5px;
    text-transform: uppercase;
    color:#777;
}

img.post-img
{
    float:left;
    margin-right:10px;

}

img.comment-img
{
    float:left;
    display: inline-block;
    margin-right:15px;

}

img.photo-img
{
    float:left;
    display: inline-block;
    clear:right;
}

.wallpost
{
    padding-top:15px;
    margin-bottom:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}

.wallpost-name
{
    text-transform: uppercase;
    font-size:1.1em;
}

.post-body
{
    float:none;
    margin-top:15px;
    color:#777;

    border-bottom:1px solid #898989;
    padding-bottom:10px;
}

.comment-body
{
    float:none;
    margin-top:10px;
    color:#777;
}


.wallpost-actions
{
    margin-top:10px;
}

.wallpost-actions .btn
{
    padding:0px 12px;
}

.deleteBtn
{
    display: inline;
}

.post-photo-container
{
    /*height:200px;*/
    margin-top:15px;
}

.justified-gallery
{


}

.post-photo-container-single
{
    margin-top:15px;
}

.like-container
{
    padding:5px 15px 5px 15px;
    background-color: #EEE;
    border-bottom:1px solid #DDD;
    color:#777;
}

.comment-container
{
    padding:10px 15px 10px 15px;
    background-color: #EEE;
    border-bottom:1px solid #DDD;
    color:#777;

    border-bottom:1px solid #DDD;
}

.comment-new-container
{
    padding:15px 15px 15px 15px;
    background-color: #EEE;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
}



.photo-modal .comment-new-container
{
    margin-left:-15px;
    margin-right:-15px;
    padding-bottom:15px;
    background-color: rgba(255, 255, 255, 0.57);
    border-radius: 0;
}

.comment-new-container textarea
{
    border-radius: 0;
    resize: none;
    border:none;
    min-height:40px;
    height:40px;
}

.photo-modal .comment-new-container textarea
{
    box-shadow: none;
    display: inline;
}

.ct-container
{
    display: block;
    width:auto;
    margin-right:55px;
}

.photo-modal .ct-container
{
    /*
    display: inline;
    float:left;
    margin-top:-40px;
    */
}

.wallpost-container
{
    -webkit-box-shadow: 1px 1px 5px 2px #C4C4C4;
    box-shadow: 1px 1px 5px 2px #C4C4C4;
    margin-bottom:15px;
}

/*
.album
{
        width:100%;
        min-height:150px;
        background-color: #FFF;
        padding:10px;
}

.album-preview
{
        background-color: #E1E1E1;
        height:150px;
}

.album-preview:hover
{
        cursor: pointer;
        background-color: #e0deff;

        opacity: 0.4;
}

.album-preview .fa
{
        height:100%;
        width:100%;
        font-size:7em;
        color:#c1c1c1;
        text-align: center;
        margin-top:30px;
}

.album-preview .fa:hover
{
        color:#c9c6ff;
}

.album-name
{
        color:#0D54D7;
        font-weight:bold;
        text-transform: uppercase;
}

.album-row
{
        margin-bottom:15px;
}
*/


.album-container
{
    width:100%;
    display: table;
}
.album
{
    width:250px;

    min-height:150px;
    background-color: #FFF;

    padding:10px;

    float:left;
    display: table-cell;

    margin-right:15px;
    margin-bottom:15px;
}

.album-preview
{
    background-color: #E1E1E1;
    height:150px;
}

.album-preview:hover
{
    cursor: pointer;
    background-color: #e0deff;
}

.album-preview .fa
{
    height:100%;
    width:100%;
    font-size:7em;
    color:#c1c1c1;
    text-align: center;
    margin-top:30px;
}

.album-preview .fa:hover
{
    color:#c9c6ff;
}

.album-name
{
    color:#0D54D7;
    font-weight:bold;
    text-transform: uppercase;
}

.album-row
{
    margin-bottom:15px;
    margin-left:0;
    margin-right:0;
}

.feed-tabs
{
    border-bottom: none;
}

.feed-tabs > li.active > a, .feed-tabs > li.active > a:hover, .feed-tabss > li.active > a:focus
{
    background-color: #2B3849 !important;
    border:none;
    color:#FFF !important;
    text-transform: uppercase;
    font-weight: 400;
}

.feed-tabs > li
{
    border-left: none !important;
    border-top:none;
    border-bottom: none;

    border-right:1px solid white;
}

.feed-tabs > li:last-child
{
    border-right:none;
}

.feed-tabs > li > a:hover
{
    background-color: #556f91;
}

.feed-tabs > li > a:hover, .feed-tabs > li > a:focus
{
    background-color: #556f91;
}

.feed-tabs > li > a
{
    display: inline;
    background-color: none !important;

    border:none;


    border-radius: 0;
    color:#FFF;
    text-transform: uppercase;
    font-weight: 300;
    padding:10px 15px 9px 15px;
    margin-right: 0;
}

.postactions-container .tab-content
{
    margin-top:0px;
}

.profile-blog-panel .fileUploadContainer
{
    border:2px solid #c9c6ff;
    width:100%;
    height:80px;
    text-align: center;
    padding-top:20px;
}

#modal-form .fileUploadContainer {
    width: 256px;
    height: 256px;
    margin: 0 auto;
    background: url(../images/photo-drag.png) no-repeat transparent;
    cursor: pointer;
}

.dragButton {
    height: 100%;
    width: 100%;
}

.add_new_image,
.add_new_butt {
    cursor: pointer;
}

.location-single-image {
    width: 225px;
    padding: 10px 0px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #7C9F02;
    margin: 0px 5px 10px 5px;
}

.location-single-image img {
    padding: 10px 0px;
}

.location-single-image input[type="text"] {
    width: 100%;
}

.location-single-image .profile-delete {
    margin-right: 5px;
}

.location-single-image .profile-edit {
    margin-left: 5px;
}

.location-single-image .profile-delete,
.location-single-image .profile-edit {
    cursor: pointer;
}

.location-single-image h2 {
    text-align: center;
}

#videos {
    display: none;
}

.videoRow {
    margin: 0 auto;
    width: 46%;
    float: left;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #7C9F02;
    margin-bottom: 10px;
}

.videoRow:first-child {
    margin-left: 10px;
}

.videoRow .textFields {
    font-size: 18px;
    padding: 5px;
    text-align: left;
    min-height: 25px;
}

.videoRow .icons {
    min-height: 25px;
}

.videoRow .icons i:hover {
    cursor: pointer;
}

.profile-blog-panel .highlight
{
    background:#fcf8cb;
}

.fileProgressBar .progress
{
    margin:10px;
    border-radius: 0;
}

.fileNameTxt
{
    margin:10px 0 0 10px;
}

#photo-post-container
{
    min-height: 150px;
}

#photo-post-container .col-md-8
{
    padding-bottom: inherit;
    padding-top:inherit;
    border: none;
    box-shadow: inherit;
    background: none;
}

#photo-post-container textarea
{
    height:150px;
    border:none;
    resize: none;
    box-shadow: none;
}

#imgPreviewContainer
{
    margin-left:10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.photo-modal
{
    overflow-y: hidden;
}

.photo-modal .modal-dialog
{
    width:auto;
    padding-left:30px;
    padding-right:30px;
}

.photo-modal .modal-content
{
    background-color:#e9e9ec;
    min-height: 400px;
}


.photo-modal .modal-body
{
    padding:0px;
}

.photo-modal .modal-body .img-bg
{
    background-color: black;
    padding:0;
    text-align: center;
    margin-bottom:0 !important;
}

.photo-modal #photo-img
{
    margin:0 auto;
}

.photo-modal .modal-body .photo-content
{
    margin-left:0;
    margin-right:0;
}

.photo-modal .modal-header
{
    padding:0 15px 0 0;
    min-height: inherit;
}

#dyn-ajax-loader
{
    margin:0 auto;
    display: block;
}

#stream-display a
{
    outline:none;
}

#stream-display a canvas
{
    position: relative;
    top:50%;
    margin-top:-40px;
}

#photo-info-display
{
    padding-top:15px;
    padding-bottom:15px;
}

.photo-modal .close
{
    display: inline;
    position: absolute;
    right: 15px;
    z-index:999;
}

.photo-modal .slimScrollDiv
{
    margin-left:-15px;
    margin-right:-15px;
}

.photo-modal .wallpost-actions
{
    margin:15px 15px 10px 15px;

}
/*
.photo-modal .profile-blog-panel .panel-body
{
        padding:0;
        box-shadow: none;
}

.photo-modal .profile-blog-panel .panel-body textarea
{
        border:none;
        box-shadow: none;
}
*/

.photo-caption
{
    color:#777;
    float:none;
    margin-top: 15px;
}

.photo-modal #caption
{
    max-height: 400px;
}

#photosTab .photo-actions
{
    margin-bottom:15px;
}

#photosTab .photo-actions h2
{
    margin-top:0;
    margin-bottom:0;
}

#photosTab .col-md-8
{
    background: none;
    border: none;

    padding: 0 15px 0 15px;

    box-shadow: none;
}

#blogTab .blog-title
{
    margin-top: 15px;
    margin-bottom: 10px;
}

#blogTab .blog-title h2
{
    margin-top:0;
    margin-bottom: 0;
}

#commentHtml, #postHtml, #newCommentHtml
{
    display: none;
}

#wall-loader
{
    display: none;
    height: 0px;
    opacity:0;
}

#spin-container
{
    height:90px;
    width:90px;
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 4px;
    border:1px solid #c9c9c9;
}


.viewMoreBtn
{
    text-transform: lowercase;
    color:black;
    margin:0px auto 15px auto;
    display: block;
    font-size:1.3em;
    font-weight: 300;
}

.viewMoreBtn:focus, .viewMoreBtn:hover, .viewMoreBtn:active
{
    outline: invert none medium !important;
    text-decoration: none !important;
    border: none !important;
}

.viewMoreBtn i.fa
{
    display: block;
    font-size:2em;
}

.viewMoreBtn:hover
{
    text-decoration: none;
}

.spinner-index
{
    position: relative !important;
    display: block;
}

.tempContent
{
    display: inline-block;
    width:100%;
}

.profile-xs-info
{
    text-align: center;
}

.profile-user .sub-col
{
    padding-left:15px;
    padding-right: 15px;
    margin: 0;
}

#followingTab .row,
#followersTab .row {
    margin-left: 10px;
    padding: 5px;
}
#followingTab button,
#followersTab button {
    margin-left: 5px;
}

a i.profile-edit,
.profile-edit {
    color: #5a99bc;
}

a i.profile-delete,
.profile-delete {
    color: #a6555e;
}

.drop_spot {
    display: inline-block;
    height: 240px;
    width: 240px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 3px dotted #7C9F03;
    color: #7C9F03;
    font-size: 45px;
    text-align: center;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.outer_image {
    width: 490px;
    margin: 0px auto;
    padding-bottom: 10px;
}
#profileImageUpload {
    display: none;
}
/* ---- End of styles for user pages --- */

.socialLink {
    margin: 8px 0;
}

.socialLink .fa {
    width: 25px;
    text-align: center;
    font-size: 18px;
}

.socialLink a {
    font-family: 'LatoLight';
    font-size: 20px;
    color: #4D4D4D;
}

.resetPwOuterDiv {
    width: 400px;
    margin: 80px auto;
    padding: 15px;
    background-color: white;
}

.resetPwOuterDiv div.col-md-6 {
    padding-top: 5px;
}

.resetPwOuterDiv .row {
    margin: 0px;
}

.resetPwOuterDiv label.control-label {
    text-align: right;
}

.resetPwOuterDiv .dialer_butt {
    float: none;
    width: 85px;
    margin: 10px auto;
}