@import "common.less";

@warningColor: #8a6d3b;
@successColor: #3c763d;
@dangerColor: #a94442;
@infoColor: #31708f;

.jquery-alerts-container
{
	position: fixed;
	display: block;
	height: auto;
	z-index:9999;
	
		.jquery-alert
		{
			position: relative;
			margin-top:15px;
			display: block;
		
			margin-left:15px;
			margin-right:15px;
		
			z-index:9999;
			width:100%;
			height:auto;
			padding:5px;
			font-size: 1em;
			
			h3
			{
				margin:0 0 10px 0;
				font-size:1.4em;
			}
			

		}

		.jquery-alert-warning
		{
			color:@warningColor;
			background: #fcf8e3;
			border:1px solid #faebcc;
			
			h3
			{
				color:@warningColor;
			}
		}

		.jquery-alert-success
		{
			color:#3c763d;
			background: #dff0d8;
			border:1px solid #d6e9c6;
			
			h3
			{
				color:@successColor;
			}
		}
		
		.jquery-alert-danger
		{
			color:#a94442;
			background: #f2dede;
			border:1px solid #ebccd1;

			h3
			{
				color:@dangerColor;
			}
		}

		.jquery-alert-info
		{
			color:#31708f;
			background: #d9edf7;
			border:1px solid #bce8f1;
			
			h3
			{
				color:@infoColor;
			}
		}

}
