@import "common.less";

.right-click-menu
{
    position:absolute;
 
}

.ulcommon
{
	list-style-type: none;

    border:1px solid #ccc;
    border-bottom-color:#bbb;
    padding:0;
}

ul.rightclick
{
	.borderRadius;
	.shadow;
	.ulcommon;

    margin: 0;
    
    z-index:2000;
	
	li
	{
	    padding:7px;
	    /* height:15px; */
	    min-width:150px;
	    background:#f2f1f0;
	    clear:right;
	
		.caret-right
		{
			float:right;
			margin-top:5px;
		};
		
		i
		{
			display:inline;
			color:#de1f26;
		};
		
		ul.submenu
		{
			.borderRadius;
			.shadow;
			.ulcommon;
				
		
		    position:absolute;
		    left:120px;
		    clear:none;
		    float:right;
		
		
		    z-index:2100;
		
		    color:#777;
		
			opacity:0;
		};
		
		
	};

};




ul.rightclick li:hover
{
    cursor:pointer;

    color:white;

	background: #00b7ea; /* Old browsers */
	background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
};

